@mixin flex($d, $j, $a) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

.dasboard,
.signals_page {
  @include flex(column, flex-start, center);
}

.navigation {
  @include flex(column, flex-start, center);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 25%;
  background: #f2fff2;
  padding: 1.5rem;
  font-family: dana;

  .title {
    min-height: 10%;
    font-size: 2em;
    span {
      color: #54aa6f;
    }
  }

  .signout {
    @include flex(row, center, center);
    width: 100%;
    min-height: 10%;

    button {
      @include flex(row, center, center);
      gap: 10px;
      color: #ff4842;
    }
  }

  .menu {
    @include flex(column, flex-start, center);
    gap: 20px;
    width: 100%;
    height: 100%;
    color: #b8bed9;

    .dashboard,
    .signals,
    .selectedTab {
      @include flex(row, center, center);
      gap: 2rem;
      width: 80%;
      height: 65px;
      border-radius: 16px;
      opacity: 80%;
      cursor: pointer;
    }

    .selectedTab {
      background: #54aa6f;
      color: #fff;
      opacity: 1;
      position: relative;
    }

    .selected_sign {
      position: absolute;
      left: 0;
      width: 100px;
      height: 65px;
      background: #54aa6f;
      border-radius: 0 16px 16px 0;
      transform: translate(-130%);
    }
  }
}

.account {
  @include flex(column, flex-start, center);
  gap: 1rem;
  padding: 1rem 0;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 25%;
  background: #fff;
  font-family: dana;

  .title {
    @include flex(row, flex-start, center);
    width: 100%;
    font-size: 1.5em;
  }

  .details {
    @include flex(column, flex-start, center);
    gap: 1rem;
    width: 100%;
    padding: 0 1.5rem;

    .name,
    .plan,
    .add_charge {
      @include flex(column, center, center);
      width: 100%;
      height: 150px;
      border-radius: 24px;
      background: #54aa6f;
      color: #fff;

      .balance {
        font-size: 2.5em;
      }
    }

    .plan,
    .add_charge {
      height: auto;
      padding: 1rem;
      border-radius: 16px;
    }

    .add_charge {
      cursor: pointer;
    }
  }

  .saves {
    @include flex(column, flex-start, flex-start);
    width: 100%;
    gap: 1rem;
    padding: 0 2rem;
    img {
      width: 100%;
      height: 200px;
    }
  }
}

.dashboard_page,
.signals_page {
  padding: 0 25%;

  img {
    width: 100%;
    // height: auto;
    z-index: 2;
    cursor: pointer;
  }
}
